/* Box-Shadow 
- box-shadow property attaches one or more shadows to an element.
- Syntax:- 
    box-shadow: h-offset v-offset

- h-offset : required 
- v-offset : required 
- others : optional 

- Units : all except percentages 

*/

body {
  /* background-color: rgb(209, 209, 2); */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: white;
  padding: 1em;

  /* box-shadow: 20px 20px; */

  /* Variations */
  /* box-shadow: 20px 0; Only Horizontal offset */
  /* box-shadow: 0 20px; Only Vertical offset */
  /* box-shadow: 50px 200px; Seeing the actual shadow */
  /* box-shadow: -50px -200px; Seeing the actual shadow but upwards */

  /* 3rd Value : Blur { Optional } 
     - cannot be a -ve value 
 */

  /* box-shadow: 20px 20px 10px; 10px will give blurry effect */

  /* 4th Value : Spread { Optional }
     - So in spread , first it puts shadow upto given value and then it goes for
       blur.
     - Spread can take -ve Values. 
  */
  box-shadow: 20px 20px 10px 1px;
  box-shadow: 0 0 0px 20px; /* just to show the spread */
  box-shadow: 0 0 10px 20px; /* This shows spread and blur together */

  /* Using exact colors : use rgba because here one can add opacity also */

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);

  /* Moving the shadow to inside of the box */
  box-shadow: inset 0 0 20px 0;

  /* Multiple shadows for 1 box only 
     - First shadow is on top 
     - Second shadow is below that  
  */
  box-shadow: 20px 20px 10px black, 20px 20px 30px red, 40px 40px 10px yellow;
}
