/* Box Model 
- MBappe : Margin Border Padding 
- Final Width and Final Height are different from the actual width and height defined.
- Margin and Padding works in some way i.e. creating empty space.

- Margin : creates the space with the outer background color/ outer space.  
- Border : It is the boundary of the box.
- Padding : creates more space with background color/ inside space.
- Final Width : Width + padding{left + right} + Border{left + right} + margin{left + right}
- Final Height : Height + padding{top + bottom} + Border{top + bottom} + margin{top + bottom}
*/

* {
  margin: 0;
  padding: 0;
}

.box {
  background-color: pink;
  width: 400px;

  /* Margin */
  /* margin-top: 20px;
  margin-right: 21px;
  margin-left: 20px;
  margin-bottom: 50px; */

  /* Margin Shorthand  Clockwise Format : Top Right Bottom Left*/
  margin: 20px 20px 20px 50px;

  /* Border - width ,color, style 
     - style is a necessary for the border 
     - others will pick default values if we dont write them */

  /* Case 1 : Covers all the sides  */
  /* border-width: 50px;
  border-color: blue;
  border-style: solid; */

  /* Case 2 : Covers single side only */
  /* border-left-width: 10px;
  border-left-color: blue;
  border-left-style: solid; */

  /* Case 3 : Border shorthand =>  border : width style color */
  border: 5px solid yellow;

  /* Padding  */
  padding: 100px 150px 200px 250px;
  padding: 100px;
  /* Padding : top&bottom left&right */
  padding: 80px 40px;
}
