/* position : Relative + Absolute 
- Now when we give parent class , { position : relative } the child class will relate to the position of Parent class. 
*/
.parent {
  background-color: aquamarine;
  height: 75vh;
  width: 75vw;
  margin: auto;
  margin-top: 5rem;
  padding: 1em;
  position: relative;
}

.child {
  background-color: red;
  position: absolute;

  /*Example 1*/
  /* width: 50px;
  height: 50px;
  top: 0;
  left: 0; */

  /*Example 2*/
  /* top: 0;
  bottom: 0;
  left: 25%;
  right: 25%; */

  /*Example 3*/
  top: 0;
  bottom: 0;
  right: 50%;
  width: 100px;
}
