/* currentcolor Variable 
- It picks the current color value
*/

/* Case 1  */
/* div {
  color: red;
  border: 5px solid currentcolor;
  box-shadow: 0 0 5px currentcolor;
} */

/* Case 2 */

/* If it does not color property in current child , then it follows till parent until it finds otherwise black is the default */

/* body {
  color: red;
}

div {
  border: 5px solid currentcolor;
} */

/* Case 3 */

/* We try to override text color in the end 
- But it wont work because variable picks the updated color*/

div {
  color: red;

  border: 5px solid currentcolor;
  box-shadow: 0 0 5px currentcolor;

  color: black;
}

/* Use Cases 
- Using it in animation 
- Button borders and SVG fills that match the text
- Interface design that inherits color all around 
components.
*/
