/* 
font-size : rem or em 
padding : rem or em
margin : rem or em 
width : percentages 
max and min width 
vh vw , vmin vmax , px
Media Queries : 
*/

/* Recommeded Units 
font-size : rem 
width : percentages { 100% } + using max-width together 
    - viewport unit { vw } can be used but it might cause trouble 
height : using min-height because if browser shrinks , then it wont cause issues 
    - other than that % , rem , viewport can be used.
padding/margin : rem / em 
    - using em on buttons , if we set font size of button padding and margin automatically adapts.
    - Setting flow of the document : give paragraphs , lists , heading , => margin-top of 1 rem and it will be consistent 
Media Queries : Using em because safari has some issues with rem but we can use rem also 
*/

/* Different Units  
- rem : relative to the font-size of root element { root , html } and it changes the size according to the root element size. 
    - Default font size in root element is 16px but sometimes managing that can be difficult , so for that solution we can keep root Base font-size to 62.5% i.e. 10PX so the math becomes easier like for 21px font size , we can keep fontsize to be 2.1 rem and final would be 2.1 * 10px.

- em : relative to the font-size of element and it changes according to that element font size.
- vh : Full visible height 
- vw : Full visible width 
- px : fixed sizes , locks the size 
*/

/* Once We have set font-size : 62.5% 

- We should set body font-size : 1.6rem , so that it comes back to neutral state

*/
